{% extends "wingCo/layout.html" %}

{% block body%}
<h1> Flights </h1>
<ul>
    {% for flight in flights %}
        <li><a href="{% url 'wingCo:flight' flight.id %}">Flight {{ flight.id }}: {{ flight.origin}} to {{flight.destination}} ({{flight.duration}} min)</a></li>
    {% endfor %}
</ul>

<h1>Airports</h1>
<ul>
    {% for airport in airports%}
        <li><a href="{% url 'wingCo:airport' airport.id %}">Airport {{airport.id}}: {{airport.airportCode }} ({{ airport.city }})</a></li>
    {% endfor %}
</ul>

{% endblock%}