h1 {
    display: block;
    width: 100%;
    font-size: 100px;
    text-align: center;
}
h2 {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
